* {
  box-sizing: border-box;
}
html {
  background: $grey;
}
body {
  margin: 0;
  padding: 0;
}
header {
  height: 100px;
  background-color: $grey;
}
footer {
  height: 60px;
  background-color: $green;
}
main {
  min-height: 600px;
  background-color: $white;
  // background-image: url('/images/nomad.jpeg');
  background-size: cover;
  background-position: bottom;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.container{
  margin: 0 auto;
  width: 960px;
  height: 100%;
  padding: 1em;
  clear:both;
}
main > .container {
  background: $white;
}
.right{
  float: right;
}
.left{
  float: left;
}
.col6 {
  display: inline-block;
  width: 50%;
}
.col2 {
  display: inline-block;
  width: 20%;
}
.clear {
  clear: both;
}
