extends layout

block head
    h1.left Friendly Gear
block content
  .main
    if flash
      include _flash
    each item in items
      .listing
        p
          h6
            a(href='/users/#{item.userId}/items/#{item._id}')= item.name
        p= item.description
block foot
