extends layout

block head
    h1 Friendly Gear
block content
  .main
    if flash
      include _flash
    h4 Login
    form(method='post' action='/login')
      input(type='text' name='username' placeholder='username')
      input(type='password' name='password' placeholder='password')
      input(type='submit' value='Login')
    h4 or Sign Up
    a(href='/users/new') Register New User
    each item in items
      .listing
        p
          h6
            a(href='/users/#{item.userId}/items/#{item._id}')= item.name
        p= item.description
block foot
