doctype html
html
  head
    title FriendlyGear
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
  body
    header
      .container
        h2.title.left 
          a(href='/') Friendly Gear
          small  a place for friends with gear
        block head
        if user_id
          .usermenu.right
            div
              a(href='/users/#{user_id}/edit') Edit Profile
            div
              a(href='/users/#{user_id}/items') My Gear 
            div  
              a(href='/logout') Logout
        else
          .usermenu.right
            | Login
            form(method='post' action='/login')
              .row
                input.sml(type='text' name='username' placeholder='username')
                input.sml(type='password' name='password' placeholder='password')
              .row
                input.sml(type='submit' value='Login')
                | or 
                a(href='/users/new') Sign Up
    main
      .sidemenu.left
        block leftside
      .container
        block content
    footer.clear
      .container
        block foot
    block javascript
    script(src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js")
    
