doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      .container
        block head
    main
      .container
        block content
    footer
      .container
        block foot
