extends ./../layout

block head

block content
  if errors
    include ./../_error
  form(method='post', action='/categories')
    label(for='name') New Category
    input#name(type='text' name='name')
    label(for='parent') Parent Category
    input#parent(type='text' name='parent')
    input(type='submit' value='Create')
  each category in categories
    p= category.name
