extends ./../layout

block content
  h1 New Gear
  if errors
    include ./../_error.jade
  form(method='post' action='/item')
    label(for='name') Name
    input#name(type='text' name='item[name]')
    label(for='brand') Brand
    input#brand(type='text' name='item[brand]')
    label(for='description') Description
    textarea#description(name='item[description]')
    label(for='datePurchased') Date Purchased
    input#datePurchased(type='text' name='item[datePurchased]')
    label(for='condition') Condition
    input#condition(type='text' name='item[condition]')
    label(for='categories') Categories
    input#categories(type='text' name='item[categories]')
    input(type='submit' value='Submit')
      
