extends ./../layout

block content
  h1 New Gear
  a(href='/users/#{user_id}/items') Back
  if errors
    include ./../_error.jade
  form(method='post' action='/users/#{user_id}/items')
    .row
      label(for='name') Name
      input#name(type='text' name='item[name]')
    .row
      label(for='brand') Brand
      input#brand(type='text' name='item[brand]')
    .row
      label(for='description') Description
      textarea#description(name='item[description]')
    .row
      label(for='datePurchased') Date Purchased
      input#datePurchased(type='date' name='item[datePurchased]')
    .row
      label(for='condition') Condition
      input#condition(type='text' name='item[condition]')
    .row
      label(for='categories') Categories
      input#categories(type='text' name='item[categories]')
    .row
      input(type='submit' value='Submit')
      
