extends ./../layout

block content
  h1 Sign up as a new user
  form(method='post' action='/users/#{user._id}')
    .row
      label(for='username') Username
      input(type='text' name='username' value='#{user.username}')
    .row
      label(for='email') Email
      input(type='email' name='email' value='#{user.email}')
    .row
      label(for='name') Name
      input(type='text' name='name' value='#{user.name}')
    .row  
      label(for='password') Password
      input(type='password' name='password')
    .row  
      label(for='passwordconfirm') Password Confirmation
      input(type='password' name='passwordconfirm')
    .row  
      input(type='submit' value='Submit')
  a(href='/') Back
