extends ./../layout

block content
  h1 Edit Your Information
  if errors
    include ./../_error
  form(method='post' action='/users/#{user_id}')
    .row
      label.col2(for='username') Username
      input#username.col6(type='text' name='user[username]' value=(user.username ? user.username : ''))
    .row
      label.col2(for='email') Email
      input#email.col6(type='email' name='user[email]' value=(user.email ? user.email : ''))
    .row
      label.col2(for='name') Name
      input#name.col6(type='text' name='user[name]' value=(user.name ? user.name : ''))
    .row  
      label.col2(for='city') City
      input#city.col6(type='text' name='user[city]' value=(user.city ? user.city: ''))
    .row  
      label.col2(for='name') State
      input#state.col6(type='text' name='user[state]' value=(user.state ? user.state: ''))
    .row  
      label.col2(for='zip') Zipcode
      input#zip.col6(type='text' name='user[zip]' value=(user.zip ? user.zip: ''))
    .row  
      label.col2(for='avatarUrl') Profile Pic (URL)
      input#avatarUrl.col6(type='url' name='user[avatarUrl]' value=(user.avatarUrl ? user.avatarUrl: ''))
    .row  
      label.col2(for='password') Password
      input#password.col6(type='password' name='user[password]')
    .row  
      input(type='submit' value='Submit')
  a(href='/users/#{user._id}/items') Back
