extends ./../layout

block content
  h1 Sign up as a new user
  if errors
    include ./../_error.jade
  form(method='post' action='/users')
    .row
      label.col2(for='username') Username
      input.col6(type='text' name='username' value=(username ? username: ''))
    .row  
      label.col2(for='email') Email
      input.col6(type='email' name='email' value=(email ? email: ''))
    .row  
      label.col2(for='name') Name
      input.col6(type='text' name='name' value=(name ? name: ''))
    .row  
      label.col2(for='avatarUrl') Profile Pic (URL)
      input#avatarUrl.col6(type='url' name='avatarUrl' value=(avatarUrl ? avatarUrl: ''))
    .row  
      label.col2(for='password') Password
      input.col6(type='password' name='password')
    .row  
      label.col2(for='passwordconfirm') Password Confirmation
      input.col6(type='password' name='passwordconfirm')
    .row  
      .col2
      input(type='submit' value='Submit')
  a(href='/') Back
