extends ./../layout

block content
  h1 Gear Rental form
  form(method='post' action='/users/#{user}/items/#{item}/contracts')
    label(for='startDate') Pickup Date
    input#startDate(type='date' name='startDate')
    label(for='endDate') Dropoff Date
    input#endDate(type='date' name='endDate')
    .row
      input(type='submit' value='Request Rental')
